@import '~styles/common/export';

.app-header {
  &.navbar {
    height: 64px;
    background-color: $colorPrimaryBackground !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.160784) !important;

    .container {
      display: block;
    }
  }

  .bookmark-button {
    color: white;
    
    > .count {
      font-weight: bold;
      color: red;
    }
  }
}
