@import '~styles/common/export';

.movie-card-wrap {
  height: 100%;

  .base-moveie-card {
    width: 100%;
    min-height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
