// WEB COLOR
$colorPrimaryBackground: black;

$colorLight: #FFFFFF;
$colorPrimary300: #FFCC21;
$colorPrimary400: #FF963C;
$colorPrimary500: #EA6C00;
$colorSecondary: #8FE9D0;

$colorDark600: #2E2E2E;
$colorDark500: #414141;

$colorGray: #777777;

$gradientPrimary300-400: linear-gradient(180deg, #FFCC21 0%, #FF963C 100%);