@import '~styles/common/export';

.app-footer {
  background-color: $colorDark500 !important;
  margin-top: 64px;

  .links {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 0;

    .nav-link {
      color: $colorLight;
      font-size: 0.6875rem;
      display: inline-block;
      padding-right: 45px;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
